{% extends 'base.html.twig' %}
    {% block title %}Register{% endblock %}

 {% block top_header %}
     {% if is_granted('ROLE_USER') %}
         <a href="{{ path('app_logout',{}) }}">Выход</a>
     {% else %}
         <a href="{{ path('app_login',{}) }}">Вход</a>
     {% endif %}
 {% endblock %}
{% block body %}
    <h1>Register</h1>
        <div class="reg">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
