{% extends 'base.html.twig' %}

{% block title %}Hello DeviceController!{% endblock %}

{% block body %}
    <div class="row">
    {% for device in devices %}

            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ device.RefPicture }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h1></h1>
                        <h5 class="card-title"> {{ device.Phone }}</h5>
                        <p class="card-text">Цена: {{ device.Price }}</p>
                        <a href="{{ path('device_show',{'device' :device.id}) }}" class="btn btn-primary">Больше информаии
                            о {{ device.Phone }} {{ device.Model }}</a>
                        {% if is_granted('ROLE_ADMIN_USER') %}
                            <a href="{{ path('device_edit',{'id' :device.id}) }}" class="card-link">Редактировать</a>
                        {% endif %}
                    </div>
                </div>
            </div>

    {% endfor %}
    </div>
{% endblock %}
