{% extends 'base.html.twig' %}

{% block title %}Hello DeviceController!{% endblock %}

{% block body %}

<div>
    <h2>Device phone : {{ device.Phone }}</h2>
    <hr>
    <h2>Device model : {{ device.Model }}</h2>
    <hr>
    <h2>Device memory size : {{ device.MemorySize }}</h2>
    <hr>
    <h2>Device display : {{ device.Display }}</h2>
    <hr>
    <h2>Device producer : {{ device.Producer }}</h2>
    <hr>
    <h2>Device price : {{ device.Price }}</h2>
</div>
{% endblock %}
