{% extends 'base.html.twig' %}

{% block title %}Устройство{% endblock %}

{% block body %}

<div>
    <h2>Телефон : {{ device.Phone }}</h2>
    <hr>
    <h2>Модель : {{ device.Model }}</h2>
    <hr>
    <h2>Объем памяти : {{ device.MemorySize }}</h2>
    <hr>
    <h2>Размер дисплея в дюймах : {{ device.Display }}</h2>
    <hr>
    <h2>Страна производитель : {{ device.Producer }}</h2>
    <hr>
    <h2>Цена : {{ device.Price }}</h2>
</div>

    <div>
        <h1> Отзывы </h1>
    </div>
    {% for comments in comment %}
                <h4> Aвтор: {{ comments.author }}, время
                    {{ comments.getCreatedAt|date("F jS \y \\a\\t g:ia") }} </h4>
                <h1>{{ comments.message }}</h1>
    {% endfor %}

    <div>
        {{ form(form) }}
    </div>

{% endblock %}
