{% extends 'base.html.twig' %}

{% block title %}Hello DeviceController!{% endblock %}

{% block body %}

<div>
    <h2>Device phone : {{ phone }}</h2>
    <hr>
    <h2>Device model : {{ model }}</h2>
    <hr>
    <h2>Device memory size : {{ memory_size }}</h2>
    <hr>
    <h2>Device display : {{ display }}</h2>
    <hr>
    <h2>Device producer : {{ producer }}</h2>
    <hr>
    <h2>Device price : {{ price }}</h2>
</div>
{% endblock %}
