{% extends 'base.html.twig' %}

{% block title %}Устройство{% endblock %}

{% block body %}

<div class="titleshowbox"><h1> Описание товара </h1>
</div>
<div class="showbox">
    <h2>Производитель : {{ device.Phone }}</h2>
    <hr>
    <h2>Модель : {{ device.Model }}</h2>
    <hr>
    <h2>Объем памяти : {{ device.MemorySize }} Гб</h2>
    <hr>
    <h2>Размер дисплея в дюймах : {{ device.Display }}</h2>
    <hr>
    <h2>Страна : {{ device.Producer }}</h2>
    <hr>
    <h2>Цена : {{ device.Price }}</h2>
</div>

    <div class="headcomments">
        <h1> Отзывы </h1>
    </div>
    <div class="comments">
        {% for comments in comment %}
            <p class="commentauthor">
                 Aвтор: {{ comments.author }}
            </p>
                    <p class="commenttime">
                        Время: {{ comments.getCreatedAt|date("F jS \y \\a\\t g:ia") }}
                    </p>

            <h1>{{ comments.message }}</h1>

        {% endfor %}
    </div>
        <div class="commentmessage">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
