{% extends 'base.html.twig' %}

{% block title %}Наши контакты{% endblock %}

{% block body %}
    <div class="titlecontact"><h1>Наши контакты:</h1></div><br>
    <div class="contacts"><h3>Наш офис в г. Москва<br>
        Расположен в Бизнес-центре «XXX» по адресу<br>
        {% if information.address1 != "" or information.address2 != ""%}
            {{ information.address1 }}<br>
            {{ information.address2 }}<br>

            Email1: {{ information.Email1 }}<br>
            Email2: {{ information.Email2 }}<br>

            Тел1: {{ information.Phone1 }}<br>
            Тел2: {{ information.Phone2 }}<br>
            Тел3: {{ information.Phone3 }}<br>
        {%  endif %}


        ОГРН  </h3></div><br>
    {% if is_granted('ROLE_ADMIN_USER') %}
        <a href="{{ path('contacts_update',{'id' :1}) }}">Редактировать контактные данные</a>
    {% endif %}

{% endblock %}

