<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/css/fullcss.css" rel="stylesheet" >
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{#        https://code.jquery.com/jquery-3.4.1.min.js#}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-lg-9 "></div>
                <div class="col-lg-3">
                    {% block top_header %}
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('app_logout',{}) }}">Выход</a>
                        {% else %}
                            <a href="{{ path('app_login',{}) }}">Вход </a>или<a href="{{ path('app_register',{}) }}"> Регистрация</a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
{#                <div class=" col-sm-12 col-xs-12 col-md-4">#}
                        {% block header %}
                    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-6 mb-3 bg-white border-bottom shadow-sm justify-content-center">
                        <nav class="my-2 my-md-0 mr-md-3">
{#                    <div class="btn-group" role="group" aria-label="Basic example">#}
                                <a type="button" href="{{  path('device_list',{}) }}" class="btn btn-primary">Главная</a>
                                <a type="button" href="{{ path('device_basket',{}) }}" class="btn btn-primary">Корзина</a>
                                <a type="button" href="{{ path('contacts_information',{'information' :1}) }}" class="btn btn-primary">Контакты</a>
                                {% if is_granted('ROLE_ADMIN_USER')%}
                                    <a type="button" href="{{  path('create_device',{}) }}" class="btn btn-primary">Добавить устройство</a>
                                {% endif %}
{#                    </div>#}
                        </nav>
    {#                            <p>Поиск:#}
    {#                                <input type="text" size="60">#}
    {#                            </p>#}
                    </div>
                        {% endblock %}
                    </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                {% block footer %}
                    <div class="foot">
                    Разработчик Max (c) 2019.
                    </div>
                {% endblock %}
                </div>
            </div>
        </div>


        {% block javascripts %}

        {% endblock %}
    </body>
</html>
